.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.cart-img {
  width: 150px;
}
.product-img {
  width: 100px;
  border-radius: 35px;
}
.item-details {
  display: flex;
  justify-content: space-between;
}
